@font-face {
    font-family: Minecraft;
    src: url(../media/font/Minecrafter.Alt.ttf);
}

h1,
.buttons {
    font-family: Minecraft;
}

header {
    display: flex;
    justify-content: center;

    h1 {
        color: white;
    }
}

body {
    background: url(../media/images/backgrounds/deepslate-tiles-background.webp) repeat;

    main#content {
        section.buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}